"$schema" = "https://pixi.sh/v0.26.1/schema/manifest/schema.json"

[project]
name = "jlpl"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "win-64", "osx-arm64"]

[tasks]
# top-level tasks a la make phony
fix = {depends-on = ["fix-ruff", "fix-taplo", "fix-ipynb"]}
lint = {depends-on = ["lint-ruff", "lint-ipynb"]}
build = {depends-on = ["build-core", "build-webdriver"]}
test = {depends-on = ["test-browsers", "test-core", "test-webdriver"]}
docs = {depends-on = ["docs-lite", "docs-sphinx"]}
check = {depends-on = ["check-links"]}

# tasks that are customized per env
[tasks.pip]
inputs = [
  "pyproject.toml",
  "contrib/*/pyproject.toml",
]
outputs = ["build/pip-freeze/*.txt"]
cmd = """
  python -m pip install -vv --no-deps --no-build-isolation --ignore-installed --disable-pip-version-check
    -e .
    -e contrib/jupyterlite-pyodide-lock-webdriver
  && mkdir -p build/pip-freeze
  && pip freeze > build/pip-freeze/$PIXI_ENVIRONMENT_NAME.txt"""

# real tasks
[feature.tasks-lint.tasks.fix-deps]
inputs = [
  "pyproject.toml",
  "_scripts/fix-deps.py",
]
outputs = ["contrib/*/pyproject.toml"]
cmd = """
  python _scripts/fix-deps.py
    pyproject.toml
    contrib/jupyterlite-pyodide-lock-webdriver/pyproject.toml"""

[feature.tasks-lint.tasks.fix-ipynb]
cmd = "python _scripts/nb-lint.py --fix docs"
inputs = [
  "_scripts/nb-lint.py",
  "docs/**/*.ipynb",
  "!**/.ipynb_checkpoints",
]

[feature.tasks-lint.tasks.lint-ipynb]
cmd = "python _scripts/nb-lint.py docs"
inputs = [
  "_scripts/nb-lint.py",
  "docs/**/*.ipynb",
  "!**/.ipynb_checkpoints",
]

[feature.tasks-lint.tasks.fix-ruff]
depends-on = ["fix-conftest"]
inputs = [
  "{_scripts,src,tests,docs,contrib}/**/*.{ipynb,py}",
  "pyproject.toml",
  "!**/.ipynb_checkpoints",
]
cmd = "ruff check --fix-only && ruff format"

[feature.tasks-lint.tasks.lint-ruff]
inputs = [
  "{docs,src,contrib}/**/*.{ipynb,py}",
  "pyproject.toml",
  "!**/.ipynb_checkpoints",
]
cmd = "ruff check && ruff format --check"

[feature.tasks-lint.tasks.fix-taplo]
depends-on = ["fix-deps"]
inputs = [
  "*.toml",
  "contrib/*/*.toml",
]
cmd = """
  taplo fmt
    --option=array_auto_collapse=false
    --option=array_auto_expand=true
    --option=compact_inline_tables=true
    --option=column_width=88
    --option=indent_string="  "
    pyproject.toml
    pixi.toml
    contrib/*/pyproject.toml"""

[feature.tasks-lint.tasks.fix-conftest]
depends-on = ["fix-deps"]
inputs = [
  "tests/conftest.py",
  "_scripts/replace-between.py",
]
outputs = ["contrib/jupyterlite-pyodide-lock-webdriver/tests/conftest.py"]
cmd = """
  python _scripts/replace-between.py
    tests/conftest.py
    contrib/jupyterlite-pyodide-lock-webdriver/tests/conftest.py
    "### shared fixtures ###" """

[feature.tasks-build.tasks.build-licenses]
inputs = ["LICENSE"]
outputs = ["contrib/jupyterlite-pyodide-lock-webdriver/LICENSE"]
cmd = "cp LICENSE contrib/jupyterlite-pyodide-lock-webdriver/LICENSE"

[feature.tasks-build.tasks.build-core]
inputs = [
  "{LICENSE,pyproject.toml,README.md}",
  "src/**/*.{py,j2}",
]
outputs = ["dist/jupyterlite_pyodide_lock-*.{tar.gz,whl}"]
cmd = "rm -rf dist && pyproject-build . --no-isolation -vv"

[feature.tasks-build.tasks.build-webdriver]
depends-on = ["build-licenses"]
inputs = [
  "contrib/jupyterlite-pyodide-lock-webdriver/{LICENSE,pyproject.toml,README.md}",
  "contrib/jupyterlite-pyodide-lock-webdriver/src/**/*.py",
]
outputs = [
  "contrib/jupyterlite-pyodide-lock-webdriver/dist/jupyterlite_pyodide_lock_webdriver-*.tar.gz",
]
cwd = "contrib/jupyterlite-pyodide-lock-webdriver"
cmd = "rm -rf dist && pyproject-build . --no-isolation -vv"

[feature.test.tasks.test-browsers]
cmd = """
pixi run -e $PIXI_ENVIRONMENT_NAME pip
&& jupyter-pyodide-lock browsers"""

[feature.test.tasks.test-core]
inputs = [
  "build/pip-freeze/$PIXI_ENVIRONMENT_NAME.txt",
  "pyproject.toml",
  "{src,tests}/**/*.py",
]
outputs = [
  "build/reports/{pytest.html,htmlcov/status.json}",
]
cmd = """
pixi run -e $PIXI_ENVIRONMENT_NAME pip
&& pytest"""

[feature.test.tasks.test-webdriver]
inputs = [
  "build/pip-freeze/$PIXI_ENVIRONMENT_NAME.txt",
  "contrib/jupyterlite-pyodide-lock-webdriver/pyproject.toml",
  "contrib/jupyterlite-pyodide-lock-webdriver/{src,tests}/**/*.py",
  "src/**/*.py",
]
outputs = [
  "contrib/jupyterlite-pyodide-lock-webdriver/build/reports/{pytest.html,htmlcov/status.json}",
]
cmd = """
pixi run -e $PIXI_ENVIRONMENT_NAME pip
&& pytest"""

[feature.tasks-docs.tasks.docs-lite]
inputs = [
  "build/pip-freeze/$PIXI_ENVIRONMENT_NAME.txt",
  "examples/**/*.*",
  "src/**/*.py",
  "!**/.jupyterlite.doit.db",
  "!**/.ipynb_checkpoints",
]
outputs = ["build/docs-app/SHA256SUMS"]
cwd = "examples"
cmd = """
pixi run -e $PIXI_ENVIRONMENT_NAME pip
&& jupyter-lite doit --debug -- pre_archive:report:SHA256SUMS"""

[feature.tasks-docs.tasks.docs-sphinx]
depends-on = ["build", "docs-lite"]
inputs = [
  "*.md",
  "build/docs-app/SHA256SUMS",
  "dist/*.whl",
  "contrib/*/dist/*.whl",
  "docs/**/*.{css,ipynb,md,py}",
  "!**/.ipynb_checkpoints",
]
outputs = ["build/docs/.buildinfo"]
cwd = "docs/"
cmd = """
  export PYDEVD_DISABLE_FILE_VALIDATION=1
  && sphinx-build -W --keep-going --color -b html . ../build/docs"""

[feature.tasks-check.tasks.check-links]
cmd = """
  rm -rf build/reports/check-links
  && mkdir -p build/reports/check-links
  && cd build/reports/check-links
  && touch pytest.ini
  && pytest
    -c pytest.ini
    --rootdir=.
    -p no:importnb
    --check-links
    --check-links-ignore '^https?://'
    -k "not _modules/index.html"
    ../../docs/**/*.html
"""
depends-on = ["docs-sphinx"]
inputs = ["build/docs/**/*.html"]

[feature.tasks-check.tasks.check-spelling]
cmd = "python _scripts/check-spelling.py"
depends-on = ["docs-sphinx"]
inputs = ["build/docs/**/*.html", "_scripts/check-spelling.py"]

[feature.demo.tasks.lab]
cmd = """
  pixi run -e $PIXI_ENVIRONMENT_NAME pip
  && jupyter lab --no-browser --debug"""

[feature.rtd.tasks.rtd]
cmd = """
  rm -rf $READTHEDOCS_OUTPUT/html
  && cp -r build/docs $READTHEDOCS_OUTPUT/html
"""
depends-on = ["docs-sphinx"]
inputs = ["build/docs/.buildinfo"]

### environments for tasks
[environments]
lint = {features = [
  "deps-lint",
  "tasks-lint",
], solve-group = "default"}
build = {features = [
  "deps-build",
  "tasks-build",
], solve-group = "default"}
docs = {features = [
  "demo",
  "deps-build",
  "deps-check",
  "deps-docs",
  "dev",
  "run",
  "tasks-check",
  "tasks-docs",
  "webdriver",
], solve-group = "default"}
test-oldest = {features = [
  "dev",
  "firefox-oldest",
  "firefox",
  "run-oldest",
  "run",
  "test",
  "webdriver-oldest",
  "webdriver",
], solve-group = "oldest"}
test = {features = [
  "dev",
  "firefox",
  "run-latest",
  "run",
  "test",
  "webdriver",
], solve-group = "default"}
lab = {features = [
  "demo",
  "dev",
  "deps-docs",
  "deps-lint",
  "deps-build",
  "run",
  "test",
  "webdriver",
], solve-group = "default"}

[feature.run-oldest.dependencies]
python = "3.10.*"
pyodide-lock = "0.1.0a4"
jupyterlite-core = "0.3.0"
jupyterlite-pyodide-kernel = "0.3.1"

[feature.run-latest.dependencies]
python = "3.12.*"
pyodide-lock = "0.1.0a6"
jupyterlite-core = "0.4.*"
jupyterlite-pyodide-kernel = "0.4.*"

[feature.run.dependencies]
python = ">=3.10,<3.13"
jupyterlite-core = ">=0.3.0,<0.5.0"
jupyterlite-pyodide-kernel = ">=0.3.1,<0.5.0"
pyodide-lock = ">=0.1.0a4,<0.1.0a7"
pyodide-lock-with-wheel = "*"
tornado = ">=6.1.0"

[feature.dev.dependencies]
pip = "*"
flit-core = ">=3.9,<4.0"

[feature.deps-build.dependencies]
python-build = "*"
flit-core = ">=3.9,<4.0"

[feature.deps-lint.dependencies]
ruff = ">=0.3.0"
taplo = ">=0.9.1"
nbformat = "*"
tomli-w = "*"

[feature.test.dependencies]
pytest = ">=8,<9"
pytest-cov = "*"
pytest-html = "*"

[feature.webdriver.dependencies]
selenium = ">=4.19"

[feature.webdriver-oldest.dependencies]
selenium = "4.19.*"

[feature.firefox.dependencies]
firefox = "*"
geckodriver = "*"

[feature.firefox-oldest.dependencies]
firefox = "115.*"

[feature.deps-docs.dependencies]
autodoc-traits = ">=1.2.2"
myst-nb = "*"
pydata-sphinx-theme = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-copybutton = "*"
python-libarchive-c = "*"
importnb = "*"
requests = "*"
jinja2 = ">=2.9"
packaging = "*"
[feature.deps-docs.pypi-dependencies]
readthedocs-sphinx-ext = "*"

[feature.deps-check.dependencies]
pytest-check-links = "*"

[feature.demo.dependencies]
ipywidgets = ">=8.1,<8.2"
jupyterlab = ">=4.1,<4.3"
