# repo-level configuration for `jupyterlite-pyodide-lock*`

# coverage #####################################################################
[tool.coverage.run]
disable_warnings = ["no-data-collected", "module-not-measured"]
omit = ["*/fix_html_config.py"]
patch = ["subprocess"]

[tool.coverage.report]
exclude_lines = [
  "except ImportError as err:",
  "except ImportError:",
  "if TYPE_CHECKING:",
  """if __name__ == "__main__":""",
  "pragma: no cover",
]

[tool.coverage.html]
show_contexts = true

# mypy #########################################################################
[tool.mypy]
cache_dir = "build/.cache/mypy"
python_version = "3.10"
show_error_codes = true
strict = true
warn_return_any = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
  "ipywidgets",
  "jsonpointer",
  "jupyterlite_core.*",
  "jupyterlite_pyodide_kernel.*",
  "doit.*",
]

[tool.pylsp-mypy]
dmypy = true
enabled = true
live_mode = false

# ruff #########################################################################
[tool.ruff]
cache-dir = "build/.cache/ruff"
extend-include = ["*.ipynb"]
include = ["_scripts/*.py", "py/**/*.py", "docs/**/*.py", "examples/**/*.ipynb"]
line-length = 88
preview = true
target-version = "py310"

[tool.ruff.lint]
flake8-copyright.notice-rgx = '''
# Copyright \(c\) jupyterlite-pyodide-lock contributors\.
# Distributed under the terms of the BSD-3-Clause License\.
'''
isort.known-first-party = [
  "jupyterlite_pyodide_lock",
  "jupyterlite_pyodide_lock_webdriver",
]
select = ["ALL"]

ignore = [
  "ANN401",
  "C408",
  "COM812",
  "D203",
  "D211",
  "D213",
  "DOC201",
  "DOC402",
  "DOC501",
  "ISC001",
  "PERF203",
  "PGH003",
  "PLC0415",
  "PLR6301",
  "RUF015",
]

[tool.ruff.lint.per-file-ignores]
"**/*.ipynb" = [
  "CPY001",
  "T201",
  "TRY004",
  "PLC0207",
  "N812",
]
"**/tests/**/*.py" = [
  "PLC0415",
  "S101",
  "S603",
  "S607",
  "S404",
  "T201",
]
"**/vale/check.py" = [
  "INP001",
  "RUF017",
  "S404",
  "S603",
  "T201",
]
"*/addons/*.py" = [
  "ARG002",
  "T201",
  "BLE001",
]
"*/browser.py" = [
  "S603",
  "S404",
]
"*/jupyterlite_pyodide_lock_webdriver/locker.py" = [
  "BLE001",
]
"*/lockers/__init__.py" = [
  "ARG001",
]
"*/logger.py" = [
  "BLE001",
]
"*/solver.py" = [
  "ARG002",
]
"*/tornado.py" = [
  "BLE001",
]
"_scripts/*.*" = [
  "INP001",
  "T201",
  "SLF001",
  "FBT001",
  "PLC1901",
]
"docs/conf.py" = [
  "INP001",
  "A001",
  "E731",
  "S404",
]
"examples/*.ipynb" = [
  "T201",
]
"utils.py" = [
  "C901",
]
