# sphinx #######################################################################
[context]
ppt = "../py/jupyterlite-pyodide-lock/pyproject.toml"

[intersphinx]
jupyterlite_core = "https://jupyterlite.readthedocs.io/en/stable"
jupyterlite_pyodide_kernel = "https://jupyterlite-pyodide-kernel.readthedocs.io/en/stable"
psutil = "https://psutil.readthedocs.io/en/stable/"
python = "https://docs.python.org/3"
traitlets = "https://traitlets.readthedocs.io/en/stable"

[template]
author = "{{ ppt.project.authors[0].name }}"
copyright = "2024-, {{ ppt.project.authors[0].name }}"
exclude_patterns = ["rtd.rst"]
extensions = [
  "sphinx.ext.autodoc",
  "sphinx_autodoc_typehints",
  "sphinx.ext.intersphinx",
  "sphinx.ext.viewcode",
  "myst_nb",
  "sphinx.ext.autosectionlabel",
  "sphinx_copybutton",
  "autodoc_traits",
  "sphinx.ext.coverage",
]
language = "en"
project = "{{ ppt.project.name }}"
release = "{{ ppt.project.version }}"
suppress_warnings = ["autosectionlabel.*", "myst.xref_missing"]
version = "{{ ppt.project.version }}"

## autodoc
always_document_param_types = true
autoclass_content = "both"
autodoc_default_options = {members = true, show-inheritance = true, undoc-members = true}
autosectionlabel_prefix_document = true
typehints_defaults = "comma"
typehints_use_signature_return = true

## api doc coverage
coverage_ignore_classes = [
  "jupyterlite_pyodide_lock_webdriver.browsers.ArgOptions",
  "jupyterlite_pyodide_lock_webdriver.browsers.Service",
  "jupyterlite_pyodide_lock_webdriver.browsers.WebDriver",
]
coverage_ignore_modules = ["selenium"]
coverage_modules = [
  "jupyterlite_pyodide_lock",
  "jupyterlite_pyodide_lock_webdriver",
]
coverage_show_missing_items = true
coverage_statistics_to_stdout = false

## myst
myst_heading_anchors = 3

## theme
html_css_files = ["theme.css"]
html_favicon = "_static/icon.svg"
html_logo = "_static/icon.svg"
html_static_path = ["_static", "../dist", "../build/docs-app"]
html_theme = "pydata_sphinx_theme"

[template.html_sidebars]
demo = []

[template.html_theme_options]
github_url = "{{ ppt.project.urls.Source }}"
icon_links = [
  {name = "PyPI", url = "{{ ppt.project.urls.PyPI }}", icon = "fa-brands fa-python", type = "fontawesome"},
]
logo = {text = "{{ ppt.project.name }}"}
navigation_with_keys = false
pygments_dark_style = "github-dark-colorblind"
pygments_light_style = "github-light-colorblind"
