name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHONUNBUFFERED: "1"
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  JUPYTERLITE_NO_JUPYTER_SERVER: 1
  JUPYTERLITE_NO_JUPYTERLAB_SERVER: 1
  JLPL_TIMEOUT: 500
  JLPL_PIXI_VERSION: 0.26.1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v${{ env.JLPL_PIXI_VERSION }}
          cache: true
          environments: build
      - run: pixi run -e build build
      - uses: actions/upload-artifact@v4
        with:
          name: jlpl-${{ github.run_number }}-dist
          path: ./dist

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v${{ env.JLPL_PIXI_VERSION }}
          cache: true
          environments: lint
      - run: pixi run lint

  test:
    name: ${{ matrix.test-env }} (${{ matrix.vm }} ${{ matrix.browser }})
    needs: [build]
    runs-on: ${{ matrix.vm }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - {vm: macos-13,       test-env: test-oldest, browser: firefox}
          - {vm: macos-latest,   test-env: test,        browser: chrome}
          - {vm: ubuntu-latest,  test-env: test-oldest, browser: firefox}
          - {vm: ubuntu-latest,  test-env: test,        browser: chromium}
          - {vm: windows-latest, test-env: test-oldest, browser: firefox}
          - {vm: windows-latest, test-env: test,        browser: chrome}
    env:
      JLPL_BROWSER: ${{ matrix.browser }}
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v${{ env.JLPL_PIXI_VERSION }}
          cache: true
          environments: ${{ matrix.test-env }}
      - uses: actions/download-artifact@v4
        with:
          name: jlpl-${{ github.run_number }}-dist
          path: ./dist
      - run: pixi run -e=${{ matrix.test-env }} test-core
      - run: pixi run -e=${{ matrix.test-env }} test
      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: |-
            jlpl-${{ github.run_number }}-${{ matrix.test-env }}-${{ matrix.vm }}
          path: |
            ./.pixi/task-cache-v0
            ./build/reports
            ./contrib/*/build/reports

  docs:
    name: docs
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v${{ env.JLPL_PIXI_VERSION }}
          cache: true
          environments: build docs
      - uses: actions/download-artifact@v4
        with:
          name: jlpl-${{ github.run_number }}-dist
          path: ./dist
      - run: pixi run docs-lite
      - run: pixi run docs-sphinx
      - uses: actions/upload-artifact@v4
        with:
          name: |-
            jlpl-docs-${{ github.run_number }}
          path: ./build/docs
      - run: pixi run -e docs check
